body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 0px;
}
header {
border-bottom:solid 3px rgb(244, 241, 241);
margin: 20px;
font-size: 50px;
color:rgb(255, 255, 255);
}

.chamada {
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 60%;
}
.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;
}

img {
    height: 200px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 5px solid white;
}

.categoria h2 {
    color: white;
    font-size: 30px;
}